---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
import Social from "../components/Social.astro";
import Footer from "../components/Footer.astro";
import Subtitle from "../components/Subtitle.astro";
import About from "../components/About.astro";
import Title from "../components/Title.astro";
---

<Layout title="Bem-vindo ao meu portfólio">
  <main>
    <section class="ml-6 pb-6">
      <Title />
    </section>
    <section id="sobremim" class="bg-purple-50 dark:bg-gray-800 pb-8">
      <Subtitle>Sobre mim</Subtitle>
      <About />
    </section>

    <section id="projetos">
      <Subtitle>Projetos</Subtitle>
      <Projects />
    </section>

    <section id="contato">
      <Subtitle>Contato</Subtitle>
      <Form />
      <Social />
    </section>

    <Footer />
  </main>
</Layout>
