---
import Layout from "../layouts/Layout.astro";
import Download from "../components/Download.astro";
---

<Layout title="Bem-vindo ao meu portfólio">
  <main>
    <section class="ml-5">
      <h1 class="flex text-purple-950 text-4xl md:text-5xl lg:text-6xl">
        Ludmila Grisel Viale
      </h1>
      <h2 class="text-purple-900 text-xl md:text-2xl lg:text-3xl">
        Desenvolvedora Web Full Stack <Download />
      </h2>
    </section>
  </main>
</Layout>
