<div
  class="flex flex-col lg:flex-row items-center justify-center mx-2 lg:mx-12"
>
  <div
    class="text-center text-gray-700 dark:text-gray-200 text-sm lg:text-base leading-6 lg:leading-8"
  >
    <p>
      Nasci em Santa Fé, Argentina, mas atualmente estou morando em
      Florianópolis, Brasil.
      <br />
      Possuo uma sólida formação acadêmica como Professora de Música e Licenciada
      em Educação na primeira infância, com mais de cinco anos de experiência. Através
      dessa vivência desenvolvi habilidades de comunicação, trabalho em equipe, planejamento,
      adaptabilidade e pensamento criativo.
      <br /> Além de ensinar, gosto muito de estudar e aprender coisas novas. Como
      sempre desenvolvi mais minha faceta criativa, quis explorar e potencializar
      meu lado mais lógico. Há um ano e meio, decidi iniciar meus estudos em programação,
      durante a formação consolidei meus conhecimentos em Java e JavaScript, desenvolvi
      projetos de front-end, utilizando tecnologias como React, Redux e Vite, também
      tive a oportunidade de criar projetos de back-end, utilizando Node.js e Express.
      Minha experiência inclui o gerenciamento de bancos de dados usando PostgreSQL
      e Sequelize, seguindo a metodologia ágil SCRUM. Além disso, tenho experiência
      com o uso de Next.js e habilidades em design com CSS e Tailwind.
      <br /> Recentemente, concluí minha formação como <a
        href="https://d2rf2c6bvm78n9.cloudfront.net/new-cert?id=a8430f7a74b922e8a053a3f2cc3b1aacfc13623c1ec3119f8508a66cd08e87ac"
        target="_blank"
        class="underline underline-offset-2 dark:text-purple-200"
        >Desenvolvedora Web Full Stack</a
      > e espero encontrar uma oportunidade para desenvolver novas ideias.
    </p>
  </div>
  <div class="w-2/6 mt-3 md:w-1/5 lg:w-4/5 lg:ml-4">
    <img
      src="about.jpg"
      alt="Sobre mim"
      class="rounded-full border border-purple-900/40"
    />
  </div>
</div>
