<p class="flex items-center justify-center">
  <span class="text-base dark:text-gray-200">
    Nasci em Santa Fe, Argentina, mas atualmente estou morando em Florianópolis,
    Brasil</span
  >
  <img src="location.png" class="size-5 ml-2" alt="Location" />
</p>
<p class="text-base text-center leading-8 mx-16 dark:text-gray-200">
  Possuo uma sólida formação acadêmica anterior como Professora de Música e
  Licenciada em Educação na primeira infância, com mais de cinco anos de
  experiência profissional lecionando em diferentes níveis educacionais. Isso me
  permitiu desenvolver habilidades de comunicação, trabalho em equipe,
  planejamento, adaptabilidade e pensamento criativo.
  <br /> Além de ensinar, gosto muito de estudar e aprender coisas novas. Como sempre
  desenvolvi mais minha faceta criativa, quis explorar e potencializar meu lado mais
  lógico.
  <br /> Por essa razão, há um ano e meio, decidi iniciar meus estudos em programação,
  onde encontrei um universo fascinante.
  <br /> Recentemente, concluí minha formação como <a
    href="https://d2rf2c6bvm78n9.cloudfront.net/new-cert?id=a8430f7a74b922e8a053a3f2cc3b1aacfc13623c1ec3119f8508a66cd08e87ac"
    target="_blank"
    class="underline underline-offset-2 dark:text-purple-200"
    >Desenvolvedora Web Full Stack</a
  > e estou aberta a novos desafios no mundo profissional de TI.
</p>
