<div
  class="flex flex-col lg:flex-row items-center justify-center mx-2 lg:mx-12"
>
  <div
    class="text-center text-gray-700 dark:text-gray-200 text-sm lg:text-base leading-6 lg:leading-8"
  >
    <p>
      Nasci em Santa Fé, Argentina, mas atualmente estou morando em
      Florianópolis, Brasil.
      <br />
      Possuo uma sólida formação acadêmica como Professora de Música e Licenciada
      em Educação na primeira infância, com mais de cinco anos de experiência. Através
      dessa vivência desenvolvi habilidades de comunicação, trabalho em equipe, planejamento,
      adaptabilidade e pensamento criativo.
      <br /> Além de ensinar, gosto muito de estudar e aprender coisas novas. Como
      sempre desenvolvi mais minha faceta criativa, quis explorar e potencializar
      meu lado mais lógico. Há três anos, decidi iniciar meus estudos em programação
      através de uma formação como
      <a
        href="https://d2rf2c6bvm78n9.cloudfront.net/new-cert?id=a8430f7a74b922e8a053a3f2cc3b1aacfc13623c1ec3119f8508a66cd08e87ac"
        target="_blank"
        class="underline underline-offset-2 dark:text-purple-200"
        >Desenvolvedora Web Full Stack.</a
      >
      <br /> Atualmente, trabalho como Desenvolvedora Front-end na
      <a
        href="https://truewayrealty.com/"
        target="_blank"
        class="underline underline-offset-2 dark:text-purple-200"
        >Trueway Realty,</a
      >
      empresa dos Estados Unidos, onde há um ano venho desenvolvendo interfaces modernas
      e responsivas utilizando JavaScript, TypeScript, React, Redux, Vite, Tailwind
      e outras tecnologias front-end. Minha stack técnica também inclui experiência
      com tecnologias back-end como Node.js, Express e banco de dados PostgreSQL.
      Tenho experiência em metodologias ágeis e estou sempre em busca de aprender
      novas tecnologias para criar soluções inovadoras.
    </p>
  </div>
  <div class="w-2/6 mt-3 md:w-1/5 lg:w-4/5 lg:ml-4">
    <img
      src="about.jpeg"
      alt="Sobre mim"
      class="rounded-full border border-purple-900/40"
    />
  </div>
</div>
