<footer class="text-center mb-12">
  <hr class="h-px my-8 bg-purple-200 border-0" />
  <p class="flex items-center justify-center">
    <span class="mr-2 text-base dark:text-purple-100">Página criada com</span>
    <span
      class="rounded-full border border-purple-900/5 bg-gray-900/5 dark:bg-gray-300 p-1 text-gray-900 transition-colors"
    >
      <img title="ASTRO" src="astro.png" class="h-5 w-5" alt="Astro" />
    </span>
    <span class="ml-2 dark:text-purple-100"> por Ludmila Grisel Viale</span>
  </p>
  <p class="flex items-center justify-center">
    <img src="mail.png" class="size-5.5 mr-1 mt-1" alt="mail" />
    <a
      href="mailto:ludmilaviale@gmail.com"
      class="text-purple-900 dark:text-purple-300 underline"
      >ludmilaviale@gmail.com</a
    >
  </p>
</footer>
