---
import HeaderButton from "./HeaderButton.astro";
---

<header class="flex justify-end m-6">
  <nav class="flex flex-col gap-x-12 lg:flex-row">
    <HeaderButton><a href="#top">Início</a></HeaderButton>
    <HeaderButton><a href="#sobremim">Sobre mim</a></HeaderButton>
    <HeaderButton><a href="#projetos">Projetos</a></HeaderButton>
    <HeaderButton><a href="#tecnologias">Tecnologias</a></HeaderButton>
    <HeaderButton><a href="#formacao">Formação</a></HeaderButton>
    <HeaderButton><a href="#contato">Contato</a></HeaderButton>
  </nav>
</header>
