---
import Button from "./Button.astro";
---

<header class="flex justify-end m-6">
  <nav class="flex flex-col gap-x-12 lg:flex-row">
    <Button><a href="#top">Início</a></Button>
    <Button><a href="#sobremim">Sobre mim</a></Button>
    <Button><a href="#projetos">Projetos</a></Button>
    <Button><a href="#contato">Contato</a></Button>
    <button class="theme"
      ><img src="moon.png" alt="Modo noturno" id="dark" /></button
    >
  </nav>
</header>

<script>
  const changeDarkMode = () => {
    document.documentElement.classList.toggle("dark");
    changeLogo();
  };

  const buttonTheme = document.querySelector(".theme");
  buttonTheme?.addEventListener("click", changeDarkMode);

  const changeLogo = () => {
    if (document.documentElement.classList.contains("dark")) {
      document.getElementsByTagName("img")[0].src = "sun.png";
    } else {
      document.getElementsByTagName("img")[0].src = "moon.png";
    }
  };
</script>
