---
import Button from "./Button.astro";
---

<header class="flex justify-end m-6">
  <nav class="flex flex-col gap-x-12 lg:flex-row">
    <Button><a href="#top">Início</a></Button>
    <Button><a href="#sobremim">Sobre mim</a></Button>
    <Button><a href="#projetos">Projetos</a></Button>
    <Button><a href="#tecnologias">Tecnologias</a></Button>
    <Button><a href="#formacao">Formação</a></Button>
    <Button><a href="#contato">Contato</a></Button>
    <button title="Modo noturno" id="dark"><img src="moon.png" /></button>
  </nav>
</header>

<script>
  function changeLogo() {
    if (document.getElementById("dark")) {
      document.getElementsByTagName("img")[0].src = "sun.png";
    }
  }
  changeLogo();
</script>
