---
import Button from "./Button.astro";
---

<header
  class="sticky top-0 z-50 p-3 flex justify-end bg-white dark:bg-gray-900"
>
  <nav class="flex gap-x-2 md:gap-x-12 text-sm md:text-base">
    <a href="#top"><Button>Início</Button></a>
    <a href="#sobremim"><Button>Sobre mim</Button></a>
    <a href="#projetos"><Button>Projetos</Button></a>
    <a href="#contato"><Button>Contato</Button></a>
    <button class="theme"
      ><img title="ALTERNAR MODO" src="moon.png" alt="Modo" id="dark" /></button
    >
  </nav>
</header>

<script>
  const changeDarkMode = () => {
    document.documentElement.classList.toggle("dark");
    changeLogo();
  };

  const buttonTheme = document.querySelector(".theme");
  buttonTheme?.addEventListener("click", changeDarkMode);

  const changeLogo = () => {
    if (document.documentElement.classList.contains("dark")) {
      document.getElementsByTagName("img")[0].src = "sun.png";
    } else {
      document.getElementsByTagName("img")[0].src = "moon.png";
    }
  };
</script>
