---
import HeaderButton from "./HeaderButton.astro";
---

<header class="flex justify-end m-6">
  <nav class="flex flex-col gap-x-12 lg:flex-row">
    <HeaderButton href="/">Início</HeaderButton>
    <HeaderButton href="/sobremim">Sobre mim</HeaderButton>
    <HeaderButton href="/tecnologias">Tecnologias</HeaderButton>
    <HeaderButton href="/projetos">Projetos</HeaderButton>
    <HeaderButton href="/formacao">Formação</HeaderButton>
    <HeaderButton href="/contato">Contato</HeaderButton>
  </nav>
</header>
