---
import ProjectItem from "./ProjectItem.astro";
const PROJECTS = [
  {
    date: "Atualidade",
    title: "My Trueway Home",
    subtitle:
      "Projeto profissional. Portal imobiliário My Trueway Home - Trueway Realty, EUA.",
    description:
      "My Trueway Home é uma plataforma intuitiva e responsiva que conecta clientes diretamente aos agentes imobiliários, oferecendo uma busca avançada com filtros personalizados e integração ao MLS, garantindo acesso a uma ampla seleção de propriedades. O site simplifica o processo de compra de imóveis e facilita a comunicação entre cliente e agente via chat interno. Para os agentes, a plataforma permite a criação de um site personalizado, onde eles podem configurar e destacar as informações mais relevantes para seus clientes.",
    image: "MTHImg.png",
    deploy: "https://www.mytruewayhome.com/",
    technologies: {
      javascript: "javascript.png",
      typescript: "typescript.png",
      react: "react.png",
      redux: "redux.png",
      vite: "vite.png",
      tailwind: "tailwind.png",
      node: "node.png",
      express: "express.png",
      postgresql: "postgresql.png",
      sequelize: "sequelize.png",
    },
  },
  {
    date: "nov. 2023 - dez. 2023",
    title: "ConnectInk",
    subtitle: "Experiência acadêmica. Projeto Final. Henry Bootcamp.",
    description:
      "ConnectInk é uma plataforma desenvolvida para gerenciar de forma eficiente os agendamentos no setor de tatuagem, oferecendo uma solução escalável para tatuadores que buscam otimizar a organização do seu trabalho. Com a integração ao Mercado Pago, permite que os clientes efetuem um sinal para garantir a reserva do seu horário de maneira prática e segura. Este projeto fornece uma infraestrutura robusta que facilita a administração de horários e a interconexão entre tatuadores e clientes.",
    image: "ConnectInkImg.png",
    deploy: "https://connectink.vercel.app/",
    repository: "https://github.com/ludmiviale/ConnectInk",
    video: "https://youtu.be/NOnSSYYX4lw",
    technologies: {
      javascript: "javascript.png",
      react: "react.png",
      redux: "redux.png",
      next: "next.png",
      cloudinary: "cloudinary.png",
      tailwind: "tailwind.png",
      node: "node.png",
      express: "express.png",
      nodemailer: "nodemailer.png",
      mercadopago: "mercadopago.png",
      postgresql: "postgresql.png",
      sequelize: "sequelize.png",
    },
  },
];
---

<div class="flex flex-col justify-between lg:flex-row">
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</div>
