<h3
  class="py-4 lg:py-8 text-center underline underline-offset-3 decoration-4 decoration-purple-300 dark:decoration-purple-300 text-purple-950 dark:text-purple-100 text-xl md:text-2xl lg:text-3xl"
>
  <slot />
</h3>
