---
import Download from "./Download.astro";
---

<h1
  class="flex text-transparent pt-6 bg-clip-text bg-gradient-to-r to-purple-950 from-purple-400 text-4xl md:text-6xl lg:text-7xl"
>
  Ludmila Grisel Viale
</h1>

<h2
  class="h-10 text-purple-900 dark:text-purple-300 text-xl md:text-3xl lg:text-4xl"
>
</h2>

<Download />

<script>
  function animation() {
    const text = [
      [
        "P",
        "r",
        "o",
        "f",
        "e",
        "s",
        "s",
        "o",
        "r",
        "a",
        " ",
        "d",
        "e",
        " ",
        "M",
        "ú",
        "s",
        "i",
        "c",
        "a",
      ],
      [
        "D",
        "e",
        "s",
        "e",
        "n",
        "v",
        "o",
        "l",
        "v",
        "e",
        "d",
        "o",
        "r",
        "a",
        " ",
        "W",
        "e",
        "b",
        " ",
        "F",
        "u",
        "l",
        "l",
        " ",
        "S",
        "t",
        "a",
        "c",
        "k",
        " ",
      ],
    ];

    let count = -1;
    let levelArray = 0;

    const containerAnimation = document.getElementsByTagName("h2")[0];

    function paintText() {
      count++;

      containerAnimation.textContent += text[levelArray][count];

      if (count === text[levelArray].length - 1) {
        clearInterval(interval);

        setTimeout(() => {
          interval = setInterval(() => {
            containerAnimation.textContent = "";
            count--;
            text[levelArray].pop();

            text[levelArray].forEach((element) => {
              containerAnimation.textContent += element;
            });

            if (count < 0) {
              clearInterval(interval);
              levelArray++;
              interval = setInterval(paintText, 150);

              if (levelArray > text.length - 1) {
                clearInterval(interval);
                levelArray = 0;
                animation();
              }
            } else {
              if (levelArray === 1) {
                clearInterval(interval);
              }
            }
          }, 150);
        }, 1000);
      }
    }

    let interval = setInterval(paintText, 150);
  }
  window.addEventListener("load", animation);
</script>
